---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Samip, Linux System Admin from Nepal.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li role="link">Linux</li>
        <li role="link">Debian</li>
        <li role="link">Red Hat</li>
        <li role="link">Cent OS</li>
        <li role="link">Ubuntu</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      In my spare time, I'm all about leveling up my Linux skills while grooving
      to some tunes. Linux admin by day, dance commander by night! 🕺🎵
    </p>
  </div>
</Card>
